body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.form-content {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-shadow: -1px 3px 14px -1px rgba(0, 0, 0, 0.15);
    background: white;
    border-radius: 10px;
}

.form-table {
    margin-top: 20px;
}

.form-table tr td input[type="text"] {
    width: 100%;
    padding: 2px 7px;
}

.form-table tr td input::placeholder {
    color: black;
    font-size: 15px;
}

.form-table td {
    border: none;
    padding: 7px;
    vertical-align: middle;
}

.form-row2 .list .list-items {
    padding-bottom: 10px;
    font-weight: 500;
    cursor: pointer;
}

.form-row3 {
    padding-top: 26px;
}

.form-row3 .btn1 {
    padding-bottom: 13px;
    font-size: 18px;
    font-weight: 500;
}

.btn-default-nk,
.form-row3 .btn1 button {
    padding: 5px 15px;
    width: 100%;
    background-color: #2d4779;
    border: none;
    border-radius: 7px;
    color: white;
    transition: 0.2s;
    border: 1px solid #2d4779;
}

.btn-default-nk:hover,
.form-row3 .btn1 button.active,
.form-row3 .btn1 button:hover {
    background-color: white;
    color: #2d4779;
}

.btn.btn-default-nk {
    width: auto;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.form-table thead tr th {
    font-size: 18px;
    border: none;
    padding: 0 7px;
    white-space: nowrap;
}

.form-table tbody tr td button {
    padding: 0 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: #2d4779;
    border: 1px solid #2d4779;
    color: white;
}

.recyclebin .fas {
    font-size: 18px;
}

.list {
    padding-left: 20px;
    padding-top: 0px;
}

.list .list-items {
    font-size: 18px;
}

.form-row2,
.form-row3 {
    border-left: 1px solid #dfdfdf;
}

.items {
    font-size: 18px;
    font-weight: bold;
    padding-top: 21px;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
}

.date-input {
    border: none;
    font-size: 19px;
    pointer-events: none;
    margin-top: 20px;
}