nbproject/
assets/filemanager/config/config.php
application/config/config.php
application/admin/config/config.php
.htaccess
admin/.htaccess
application/config/database.php
application/admin/config/database.php
application/logs/
application/admin/logs/
upload/*
.htaccess
admin/.htaccess
other-ref-data/*
./ipn_errors.log
application/views/themes/default/compiled/*
my-error.log
my-errors.log
log/*
log/access.log
log/error.log
imp-debug-points.txt
application/cache/*
application/admin/cache/*
cache/*
my-errors.log
application/third_party/mpdf
test1.php
testp.php
newerror.log
dummy.txt
images/resized/*
storage/*
myadmin/*
application/admin/third_party/mpdf
t.php
admin/reports/*
admin/category/icon/*
admin/captcha/*
upload.zip
.idea
composer.lock
vendor/*
custom.log
application/admin/views/page_blocks/*
css/my_theme.css
admin/css/my_theme.css
css/default_theme.css