<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Promotional email template</title>
    <style>
        .billing-detail tr {
            border-bottom: 1px solid #d7d8d9;
            border-left: 1px solid #d7d8d9;
            border-top: 1px solid #d7d8d9;
        }
        
        .billing-detail th {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-color: #d7d8d9 -moz-use-text-color -moz-use-text-color #d7d8d9;
            border-image: none;
            border-style: solid none none solid;
            border-width: 1px 0 0 1px;
        }
        
        .billing-detail td {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-color: #d7d8d9 -moz-use-text-color #d7d8d9 #d7d8d9;
            border-image: none;
            border-style: solid none solid solid;
            border-width: 1px 0 1px 1px;
        }
        
        .billing-detail th:last-child {
            border-right: 1px solid #d7d8d9;
        }
        
        .billing-detail td:last-child {
            border-right: 1px solid #d7d8d9;
        }
        /*    .billing-detail th:last-child{
                    border-right:1px solid #000; 
                }*/
    </style>

</head>

<body bgcolor="#8d8e90">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#8d8e90">
        <tr>
            <td>
                <table width="768" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center" style="padding:10px;">
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="200"><a href="#" target="_blank"><img src="<?= $this->config->item('CONTACT_US_FILE_URL') . DWS_LOGO ?>" width="80%" height="85" border="0" alt=""/></a></td>
                                    <td width="250">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td height="46" align="right" valign="middle">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td width="67%" align="right">
                                                                <font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:15px; text-transform:uppercase"><a href="#" style="color: blue; font-weight: 600; text-transform: capitalize; text-decoration: none;font-size: 22px;">Acknowledgement</a></font>
                                                            </td>

                                                            <td width="4%">&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="middle">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin: 20px 0">
                                <tr>
                                    <td width="15%" align="left" style="line-height: 22px">
                                        <font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:13px; text-transform:uppercase;">
                                            <strong>Invoice To: </strong>
                                            <span>1245787854 </span>
                                        </font>
                                    </td>
                                    <td width="15%" align="left" style="line-height: 22px">
                                        <font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:13px; text-transform:uppercase;">
                                            <strong>Deliver To: </strong>
                                            <span>1245787854 </span>
                                        </font>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="15%" align="left" style="line-height: 22px">
                                        <font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:13px; text-transform:uppercase;">
                                            <strong>Customer Name: </strong>
                                            <span>John Smith </span>
                                        </font>
                                    </td>
                                    <td width="15%" align="left" style="line-height: 22px">
                                        <font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:13px; text-transform:uppercase;">
                                            <strong>Customer Name: </strong>
                                            <span>John Smith  </span>
                                        </font>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="15%" align="left" style="line-height: 22px">
                                        <font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:13px; text-transform:uppercase;">
                                            <strong>Address Line1: </strong>
                                            <span>502-Ny Lyan, Australia</span>
                                        </font>
                                    </td>
                                    <td width="15%" align="left" style="line-height: 22px">
                                        <font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:13px; text-transform:uppercase;">
                                            <strong>Address Line1: </strong>
                                            <span>502-Ny Lyan, Australia</span>
                                        </font>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="15%" align="left" style="line-height: 22px">
                                        <font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:13px; text-transform:uppercase;">
                                            <strong>Address Line2: </strong>
                                            <span>502-Ny Lyan, Australia</span>
                                        </font>
                                    </td>
                                    <td width="15%" align="left" style="line-height: 22px">
                                        <font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:13px; text-transform:uppercase;">
                                            <strong>Address Line2: </strong>
                                            <span>502-Ny Lyan, Australia</span>
                                        </font>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="15%" align="left" style="line-height: 22px">
                                        <font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:13px; text-transform:uppercase;">
                                            <strong>Town: </strong>
                                            <span> New York </span>
                                        </font>
                                    </td>
                                    <td width="15%" align="left" style="line-height: 22px">
                                        <font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:13px; text-transform:uppercase;">
                                            <strong>Town: </strong>
                                            <span> New York </span>
                                        </font>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="15%" align="left" style="line-height: 22px">
                                        <font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:13px; text-transform:uppercase;">
                                            <strong>Postcode: </strong>
                                            <span> 2qwes33 </span>
                                        </font>
                                    </td>
                                    <td width="15%" align="left" style="line-height: 22px">
                                        <font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:13px;text-transform:uppercase;">
                                            <strong>Postcode: </strong>
                                            <span> 2qwes33 </span>
                                        </font>
                                    </td>
                                </tr>



                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="middle">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="billing-detail">
                                <tr style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:16px; ">
                                    <th width="">Our Ref.</th>
                                    <th width="">Account</th>
                                    <th width="">Your Order Number</th>
                                    <th width="">Order Date</th>
                                    <th width="">Currency</th>
                                    <th width="">Page</th>

                                </tr>
                                <tr style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:16px;text-align: center;height:35px;">
                                    <td width=""></td>
                                    <td width=""></td>
                                    <td width=""></td>
                                    <td width=""></td>
                                    <td width=""> GBP</td>
                                    <td width=""> 1 </td>

                                </tr>

                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="middle">
                            <table width="100%" border="0" cellspacing="0" cellpadding="5" style="margin-top: 20px; border: 1px solid #d7d8d9">
                                <tr style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:16px;text-align: left; height: 35px;background: #f7f7f7 none repeat ">
                                    <th width="20%">Product</th>
                                    <th width="40%">Description</th>
                                    <th width="10%">Quantity</th>
                                    <th width="5%">Per</th>
                                    <th width="10%">Unit Price</th>
                                    <th width="5%">Value</th>

                                </tr>
                                <tr style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:16px;text-align: center;  height: 35px;">
                                    <td width=""></td>
                                    <td width=""></td>
                                    <td width=""></td>
                                    <td width=""></td>
                                    <td width=""> GBP</td>
                                    <td width=""> 1 </td>

                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="middle">
                            <table width="100%" border="0" cellspacing="0" cellpadding="5" style="margin-top: 20px; margin-bottom: 20px;">
                                <tr style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:16px;text-align: left;">
                                    <td colspan="3"></td>
                                    <th width="15%" align="right" style="border:1px solid #eee; border-right:none;">Good Values: </th>
                                    <td width="10%" align="right" style="border:1px solid #eee; border-left:none;">$50 </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>

                </table>

            </td>
        </tr>
    </table>
</body>

</html>